ion-select{
    max-width: 60% !important;
}
#myFixZone {
    height: 200px;
    overflow-y: auto;
}

.border-right {
    border-right: 1px grey solid;
}
.padding-right10{
    padding-right: 10px !important;
}
.padding-right26{
    padding-right: 26px !important;
}
.padding-top0{
    padding-top: 0px !important;
}

.padding-bottom0{
    padding-bottom: 0px !important;
}
.font-size-bold18{
    font-size: 18px;
    font: bold;
}