<app-toolbar [title]="'Facturacion'"></app-toolbar>
<ion-content>
    <form #form="ngForm">
        <ion-grid>
            <ion-row justify-content-center padding class="padding-bottom0">
                <ion-col align-self-center size-xl="6" size-md="8" size-lg="6" size-xs="12">
                    <div text-center>
                        <ion-item>
                            <ion-icon slot="start" name="person"></ion-icon>
                            <ion-label>Cliente</ion-label>
                            <ion-select name="customer" placeholder="Cliente" [(ngModel)]="invoice.customer">
                                <ion-select-option *ngFor="let customer of customers" [value]="customer.id">
                                    {{customer.name}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    <ion-row>
                        <ion-col size="5">
                                <ion-item>
                                        <ion-label position="floating"># Placa<ion-text color="danger">*</ion-text>
                                        </ion-label>
                                        <ion-input name="licensePlate" [(ngModel)]="invoice.licensePlate" required></ion-input>
                                    </ion-item>
                        </ion-col>                        
                        <ion-col size="7">
                            <ion-card>
                                <ion-item>
                                    <ion-label position="floating">Promedio:</ion-label>
                                    <ion-input type="text" readonly="true" [ngModel]="average" 
                                    (ngModelChange)="average = $event" [ngModelOptions]="{standalone: true}"></ion-input>
                                </ion-item>
                            </ion-card>
                            </ion-col>
                    </ion-row>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row justify-content-center padding class="padding-top0">
                <ion-col align-self-center size-xl="3" size-md="4" size-lg="3" size-xs="6">
                    <ion-item>
                        <ion-label position="floating">Cant. de pollos <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input type="text" name="lotProduct" inputmode="numeric" [ngModel]="invoice.lotProduct" 
                            (ngModelChange)="onChangeLotProduct($event)" required>
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col align-self-center size-xl="3" size-md="4" size-lg="3" size-xs="6">
                    <ion-item class="padding-left-2px">
                        <ion-label position="floating">Precio/Lbs <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input name="pricePounds" type="text" inputmode="decimal" [ngModel]="invoice.pricePounds"
                            (ngModelChange)="onChangePricePounds($event)" required></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row justify-content-center>
                
                    <ion-button (click)="addLine()">
                        <ion-icon name="add"></ion-icon>
                        Agregar linea
                    </ion-button>
            </ion-row>
            <ion-row justify-content-center padding class="padding-bottom0">
                <ion-col align-self-center size-xl="6" size-md="8" size-lg="6" size-xs="12">
                    <ion-card scrollY="true" id="myFixZone">
                        <ion-item-divider class="padding-right26">
                            <ion-col size="2" class="border-right">
                                No.
                            </ion-col>
                            <ion-col size="5" class="border-right">
                                Tara
                            </ion-col>
                            <ion-col size="5">
                                Peso bruto
                            </ion-col>
                        </ion-item-divider>
                        <ion-list>
                            <ion-item-sliding class="padding-right10" *ngFor="let line of lineDetails ; let index = index">
                                <ion-item>
                                    <ion-col size="2" class="border-right ">
                                        {{index + 1}}
                                    </ion-col>
                                    <ion-col size="5" class="border-right">
                                        {{line.tareWeight}}
                                    </ion-col>
                                    <ion-col size="5">
                                        {{line.grossWeight}}
                                    </ion-col>
                                </ion-item>
                                <ion-item-options side="end">
                                    <ion-item-option (click)="deleteLine(index)" color="danger">
                                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                                    </ion-item-option>
                                </ion-item-options>
                            </ion-item-sliding>
                        </ion-list>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row justify-content-center padding class="padding-top0">
                <ion-card align-self-center size-xl="6" size-md="8" size-lg="6" size-xs="12">
                    <ion-item>
                        <ion-label position="inline">Peso Bruto Lbs:</ion-label>
                        <ion-input type="text" inputmode="decimal" class="font-size-bold18" [ngModel]="totalGross | number: '2.2'"
                        (ngModelChange)="totalGross = $event" [ngModelOptions]="{standalone: true}" readonly="true"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tara Lbs:</ion-label>
                        <ion-input type="text" inputmode="decimal" class="font-size-bold18" [ngModel]="totalTare | number: '2.2'"
                        (ngModelChange)="totalTare = $event" [ngModelOptions]="{standalone: true}" readonly="true"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="inline">&nbsp;Peso Neto Lbs:</ion-label>
                        <ion-input type="text" inputmode="decimal" class="font-size-bold18" [ngModel]="totalNetWeight | number: '2.2'"
                        (ngModelChange)="totalNetWeight = $event" [ngModelOptions]="{standalone: true}" readonly="true"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="inline">&nbsp;&nbsp;Monto Total $:</ion-label>
                        <ion-input type="text" inputmode="decimal" class="font-size-bold18" [ngModel]="totalPrice | number: '2.2'"
                        (ngModelChange)="totalPrice = $event" [ngModelOptions]="{standalone: true}" readonly="true"></ion-input>
                    </ion-item>
                </ion-card>
            </ion-row>
            <ion-row justify-content-center padding class="padding-top0">                
                    <ion-button (click)="presentAlertConfirm()" [disabled]="form.invalid">
                        <ion-icon name="paper"></ion-icon>
                        Facturar
                    </ion-button>
            </ion-row>
        </ion-grid>
    </form>

</ion-content>