<app-toolbar [title]="'Clientes'"></app-toolbar>
<ion-content padding>
    <ion-item>
        <app-filter></app-filter>
        <ion-button (click)="presentAddModal()" color="tertiary" slot="end"><ion-icon name="person-add"></ion-icon></ion-button>                    
    </ion-item>  
    <div>
            <ion-virtual-scroll [items]="customers" approxItemHeight="320px">
              <ion-item-divider *virtualItem="let customer">
                <ion-icon name="contact" slot="start"></ion-icon>
                {{ customer.id }}
                <div class="item-note" slot="end">
                  {{ customer.name }}
                </div>
                <ion-button
                  size="small"
                  color="secondary"
                  (click)="presentUpdateModal(customer)"
                  slot="end"
                >
                  <ion-icon name="create"></ion-icon>
                </ion-button>
        
                <ion-button
                  class="ion-no-margin"
                  (click)="deleteCustomer(customer)"
                  size="small"
                  color="danger"
                  slot="end"
                >
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-item-divider>
            </ion-virtual-scroll>
          </div>
        </ion-content>
        